.b-emp {}

.e-emp-details {

  .cxb-labelstoplayout {
    width: 100%;
  }

  font-size: 1.25rem;

  img {
    width: 100%;
    height: auto;
    margin-top: 0;
    display: block;
  }

  //if displayed inside an overlay
  .b-overlay & img {
    height: 14rem;
    width: auto;
  }

  label {
    font-size: 0.8rem;
    font-weight: 600;
    color: #b6b6b6;
    position: relative;
    top: 4px;
  }

  h6 {
    margin: 0;
    font-size: 0.8rem;
    padding: 0 .3rem;
  }

  section {
    margin: 1rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > div, & > section {
      flex: 1;
    }

    @media screen and (min-width: 1024px) {
      & > div, & > section {
        flex: 0;
      }
    }
  }

  .form-group {
    margin: 0 1rem;
  }
}

.e-emp-general {
  background-color: whitesmoke;
}