@import "SearchField";

.b-list {
  background: #f7f7f7;
}

.b-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
  box-sizing: border-box;
}

.e-cards-empty {
  font-size: 1.5rem;
  font-style: italic;
  padding: 1rem;
  color: gray;
}

.b-card {
  //float: left;
  margin: 0.5rem;
  width: calc(100% - 1rem);

  @media screen and (min-width: 51rem) {
    width: calc(50% - 1.5rem);
  }

  @media screen and (min-width: 76rem) {
    width: calc(33.333% - 2.5rem);
  }

  @media screen and (min-width: 101rem) {
    width: calc(25% - 4rem);
  }

  @media screen and (min-width: 126rem) {
    width: 24rem;
  }


  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.1);
  overflow: hidden;
  background: white;
  color: gray;

  font-size: 0.85rem;

  h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: normal;
  }

  h3 ~ p {
    margin: 0 0 0.5rem 0;
    font-size: 0.8rem;
    color: #b1b1b1;
  }
}

.e-card-img {
  width: 8rem;
  height: 8rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 1rem;

  figure {
    position: absolute;
    background: #e1e1e1;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    line-height: 8rem;
    margin: 0;
  }

  img {
    position: relative;
    height: 100%;
    width: auto;
  }
}

.e-card-details {
  padding: 0.5rem 0.5rem;
  color: #585858;

  a {
    text-decoration: none;
    color: #3949AB;
  }

  i {
    font-size: 14px;
    display: inline-block;
    width: 1rem;
    margin-right: 0.5rem;
    text-align: center;
  }
}

.muted {
  font-style: italic;
  color: lightgray;
}
