$cx-input-font-size: inherit;
$cx-input-line-height: 1.5em;
$cx-input-padding-left: 0;
$cx-input-padding-right: 0;
$cx-input-padding-top: 0.3rem;
$cx-input-padding-bottom: 0.1rem;

$cx-input-border-top-width: 0;
$cx-input-border-right-width: 0;
$cx-input-border-left-width: 0;

$cx-input-background-color: transparent;

@import "~cx-core/src/ui/form/variables";

$cx-input-focus: map_merge($cx-input-focus, (
  box-shadow: none
));


@import "~cx-core/src/index";