//override Cx defaults
$cx-default-box-line-height: 1.25em;
$cx-default-box-font-size: inherit;
$cx-default-box-padding: 0.5rem;
$cx-default-input-tag-spacing: 0.2rem;
$cx-use-box-line-height-fix: false;

@import "~cx/variables";


//import variables, mixins, but leave out any CSS
$cx-include-all: false;
@import "~cx/index";

$cx-input-state-style-map: cx-merge-state-style-maps($cx-input-state-style-map, (
  default: (
    border-width: 0 0 1px 0,
    padding: 0 0 0.5rem 0,
    background-color: transparent
  ),
  focus: (
    box-shadow: null
  ),
  error-focus: (
    box-shadow: null
  )
));

//include only CSS we need
@include cx-label;
@include cx-textfield;
@include cx-datefield;
@include cx-calendar;
@include cx-lookupfield;
@include cx-overlay;
@include cx-dropdown;
@include cx-labelstoplayout;
@include cx-tooltip;